.why-us {

   background-color: $darkBlue;

   h2 {
      color: $white;
   }
   .why-us__inner {
      grid-template-columns: repeat(7, 1fr);
      grid-column-gap: 1.25rem;
      margin-top: 1.25rem;
      align-items: center;

      @include mobile-query {
         grid-template-columns: 1fr;
         margin-top: 2.5rem;
      }

      .why-us__image {
         padding-left: 2.5rem;
         padding-right: 2.5rem;
      }
   }

   // Text 1st, Image 2nd (text takes up less space than img)
   .text-img {
      .why-us__text {
         grid-column: 1 / span 3;

         @include mobile-query {
            grid-column: 1 / span 1;
            order: 2;
         }
      }
      .why-us__image {
         grid-column: 4 / span 4;
         justify-self: end;

         @include mobile-query {
            grid-column: 1 / span 1;
            order: 1;
         }
      }
   }

   // Image 1st, Text 2nd
   .img-text {
      .why-us__text {
         grid-column: 5 / span 3;

         @include mobile-query {
            grid-column: 1 / span 1;

         }
      }
      .why-us__image {
         grid-column: 1 / span 4;
         justify-self: start;

         @include mobile-query {
            grid-column: 1 / span 1;

         }
      }
   }


   // Text
   &__text {
      text-align: center;

      h3 {
         color: $blueGreen;
         margin-bottom: 1.25rem;
      }
      p {
         color: $white;
         font-size: 0.875rem;
         line-height: 1.5625rem;
      }
   }

   // Image
   &__image {
      max-width: 31.25rem;
      img {
         width: 100%;
      }
   }

   // Download Button
   .download-button {
      text-align: center;
      margin-top: 5rem;
   }

}
